<ul>
<li><a href="about.html">О нас</a></li>
<li><a href="rooms.html">Номера</a></li>
<li><a href="constructor.html">Досуг</a></li>
<li><a href="services.html">Услуги</a></li>
<li><a href="contact.html">Контакты</a></li>
<li><a href="reviews.html">Отзывы</a></li>
</ul>